BODY { 
      font-family:Arial; 
      background-color:#ffffff;  }
H1 { 
    font-weight:bold; 
    font-size:18pt; 
    font-family:Arial;  }
LI.kadov-H1 { 
             font-weight:bold; 
             font-size:18pt;  }
H2 { 
    font-weight:bold; 
    font-size:18.0pt; 
    font-family:Arial;  }
LI.kadov-H2 { 
             font-weight:bold; 
             font-size:18.0pt;  }
H3 { 
    font-weight:bold; 
    font-size:14.0pt; 
    font-family:Arial;  }
LI.kadov-H3 { 
             font-weight:bold; 
             font-size:14.0pt;  }
H4 { 
    font-weight:bold; 
    font-size:11pt; 
    font-family:Arial;  }
LI.kadov-H4 { 
             font-weight:bold; 
             font-size:11pt;  }
H5 { 
    font-weight:bold; 
    font-size:10.0pt; 
    font-family:Arial;  }
LI.kadov-H5 { 
             font-weight:bold; 
             font-size:10.0pt;  }
H6 { 
    font-weight:bold; 
    font-size:8.0pt; 
    font-family:Arial;  }
LI.kadov-H6 { 
             font-weight:bold; 
             font-size:8.0pt;  }
P { 
   font-size:10pt; 
   margin-top:4.5pt; 
   margin-bottom:4.5pt; 
   font-family:Arial;  }
LI.kadov-P { 
            font-size:10pt;  }
A.expandspot { 
              color:#008000; 
              cursor:hand; 
              font-style:italic; 
              x-text-underline:off; 
              x-text-overline:off; 
              x-text-line-through:off; 
              text-decoration:none none none;  }
SPAN.expandtext { 
                 font-style:italic; 
                 font-weight:normal; 
                 color:#ff0000;  }
A.dropspot { 
            cursor:hand; 
            color:#008000; 
            font-style:italic; 
            x-text-underline:off; 
            x-text-overline:off; 
            x-text-line-through:off; 
            text-decoration:none none none;  }
A.glossterm { 
             color:#800000; 
             cursor:hand; 
             font-style:italic; 
             x-text-underline:off; 
             x-text-overline:off; 
             x-text-line-through:off; 
             text-decoration:none none none;  }
SPAN.glosstext { 
                font-style:italic; 
                font-weight:normal; 
                color:#0000ff;  }
OL { 
    margin-top:0px; 
    margin-bottom:0px; 
    font-family:Arial;  }
UL { 
    margin-top:0px; 
    margin-bottom:0px; 
    font-family:Arial;  }
ol ol { 
       margin-top:4px;  }
ol ul { 
       margin-top:4px;  }
ul ul { 
       margin-top:4px;  }
ul ol { 
       margin-top:4px;  }
