.navcontainer {
	width: 100%;
	padding: 0px;
}
.navcontainer tr {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: center;
}
.navcontainer a {
	font-family: Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	background-color: #bdbdab;
	display: block;
	padding: 3px;
	width: auto;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #FFFFCC;
	border-top-width: 2px;
	border-top-style: solid;
	border-top-color: #FFFFCC;
	border-bottom-width: 0px;
	border-bottom-style: none;
	border-left-width: 0px;
	border-left-style: none;
}
.navcontainer a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.navcontainer a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.navcontainer a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.navcontainer a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #D4BD94;
}
.sidenav {
	width: 175px;
}
.sidenav ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
}
.sidenav a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #D4BD94;
	display: block;
	padding: 3px;
	width: 160px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFCC;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #D4BD94;
}
.sidenav a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.sidenav a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.sidenav a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.sidenav a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #bdbdab;
}
.sidenavlt {

	width: 175px;
}
.sidenavlt ul {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #FFFFFF;
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
}
.sidenavlt a {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #FFFFCC;
	display: block;
	padding: 3px;
	width: 160px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #D4BD94;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #FFFFCC;
}
.sidenavlt a:link {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.sidenavlt a:visited {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.sidenavlt a:active {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
}
.sidenavlt a:hover {

	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
	text-decoration: none;
	background-color: #bdbdab;
}
.sidenavdk {
	width: 175px;
}
.sidenavdk ul {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
	color: #006600;
}
.sidenavdk a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006600;
	text-decoration: none;
	background-color: #D4BD94;
	display: block;
	padding: 3px;
	width: 160px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFFFCC;
	border-left-width: 3px;
	border-left-style: solid;
	border-left-color: #D4BD94;
}
.sidenavdk a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006600;
	text-decoration: none;
}
.sidenavdk a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006600;
	text-decoration: none;
}
.sidenavdk a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006600;
	text-decoration: none;
}
.sidenavdk a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #006600;
	text-decoration: none;
	background-color: #bdbdab;
}
